In [1]:
# 種々のdatasetをintagrateします
# こちらはデータ配分の確認用です｡
# 本番ではintegrate_dataset.pyを実行します｡

In [2]:

import yaml

with open('config.yaml', 'r') as file:
    conf= yaml.safe_load(file)
output_path=conf["output_path"]
max_records=conf["max_records"]
print(conf)

{'output_path': '../../data/text/0318enwiki_jawiki_mc4.jsonl', 'max_records': 1200000, 'overwrite': True}

In [3]:
%load_ext autoreload
%autoreload 2
from src.loaders import *
from src.RecordDistributor import RecordDistributor

/home/hatakeyama/miniconda3/envs/llmeval/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [21]:

dataset_dict = {
    "wiki(ja)": {
        "loader": wiki_ja_loader, #日本語版のwikipediaのloaderを使います｡
        "n_records": 1200000, #最大件数
        "stage_ratio": [1, 1, 1,8],  # 各ステージでのデータ配分
    },
    "wiki(en)": {
        "loader": wiki_en_loader,
        "n_records": 3600000,
        "stage_ratio": [0.25, 7, 1,0.25],
    },
    "mc4(ja)": {
        "loader": mc4_ja_part_loader,
        "n_records": 2400000,
        "stage_ratio": [0.5, 1, 8,0.5],  # 各ステージでのデータ配分
    },
}

In [22]:
distributor=RecordDistributor(dataset_dict)
#distributor.load_datasets()
distributor.record_df

Source   mc4(ja)  wiki(en)  wiki(ja)      Sum
Stage
Stage 1   120000    105882    109090   334972
Stage 2   240000   2964705    109090  3313795
Stage 3  1920000    423529    109090  2452619
Stage 4   120000    105882    872727  1098609

In [23]:
distributor.percent_df

Source     mc4(ja)   wiki(en)   wiki(ja)
Stage
Stage 1  35.823890  31.609209  32.566901
Stage 2   7.242452  89.465552   3.291996
Stage 3  78.283663  17.268438   4.447898
Stage 4  10.922903   9.637824  79.439273

In [ ]:
#distributor.load_datasets()

In [ ]:
import random
from tqdm import tqdm
#distributor.write_jsonl(output_path,overwrite=conf["overwrite"])